<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Projects</title>
</head>


<body>
	<h1 th:text="${project.name}"></h1>
	<h4 th:text="${project.description}" style="color: gray"></h4>
		<h3>Condiviso con:</h3>
		<ul>
			<li th:each="member: ${members}">
				<div th:text="${member.firstname} + ''+ ${member.lastname}"></div>
			</li>
		</ul>
		<div>
		<table>
		<thead>
		<tr>
		<th> Tasks</th>
		</tr>
		<tr>
		<th>Nome </th>
		<th>Descrizione </th>
		</tr>
		</thead>
		<tbody>
	    <tr th:each="task : ${tasks}">
			<td th:text="${task.nome}"></td>
			<td th:text="${task.descrizione}" style="color: gray"></td>
		</tr>
		</tbody>
		</table>
		</div>
	<h4><a th:href="'/projects/' + ${project.id} + '/addTask'">Aggiungi Task</a></h4>
</body>
</html>