<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>projects</title>
</head>

<body>
<h1>Register new User</h1>
<form id = "registerUserForm"
      th:action="@{/users/register}"
      method="POST">

    <table>
        <tr>
            <td><label for="usernameInput">userName</label>
            <td><input id=usernameInput type="text" th:field="${credentialsForm.username}" placeholder="USERNAME" required/></td>
            <td th:if="${#fields.hasErrors('credentialsForm.username')}" th:errors="${credentialsForm.username}" th:style="'color:red'"></td>
        </tr>
        <tr>
            <td><label for="passwordInput">Password</label></td>
            <td><input id="passwordInput" type="password" th:field="${credentialsForm.password}" placeholder="PASSWORD"/></td>
            <td th:if="${#fields.hasErrors('credentialsForm.password')}" th:errors="${credentialsForm.password}" th:style="'color:red'"></td>
        </tr>
        <tr>
            <td><label for="firstnameInput">First Name</label></td>
            <td><input id="firstnameInput" type="text" th:field="${userForm.firstname}" placeholder="FIRST NAME"/></td>
            <td th:if="${#fields.hasErrors('userForm.firstname')}" th:errors="${userForm.firstname}" th:style="'color:red'"></td>
        </tr>
        <tr>
            <td><label for="lastnameInput">Last Name</label></td>
            <td><input id="lastnameInput" type="text" th:field="${userForm.lastname}" placeholder="LAST NAME"/></td>
            <td th:if="${#fields.hasErrors('userForm.lastname')}" th:errors="${userForm.lastname}" th:style="'color:red'"></td>
        </tr>
        <tr>
            <td>
                <button type="submit">Register</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>